<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p1 style="font-size: 24px;margin-left:100px">欧美电影</p1>
				<ul style="font-size:16px;margin-left:125px;margin-top:55px;">
<li><a href="https://movie.douban.com/subject/35490167/
">这个杀手不太冷</a><br>

这个杀手不太冷  / Léon  / 终极追杀令(台) / 杀手莱昂
导演: 吕克·贝松 Luc Besson   主演: 让·雷诺 Jean Reno / 娜塔莉·波特曼 ...
1994 / 法国 美国 / 剧情 动作 犯罪

 9.4 2383432人评价
怪蜀黍和小萝莉不得不说的故事。</li>
                    <li><a href="https://movie.douban.com/subject/35611467/
">星际穿越</a><br>

星际穿越  / Interstellar  / 星际启示录(港) / 星际效应(台) [可播放]
导演: 克里斯托弗·诺兰 Christopher Nolan   主演: 马修·麦康纳 Matthew Mc...
2014 / 美国 英国 加拿大 / 剧情 科幻 冒险

 9.4 1960940人评价
爱是一种力量，让我们超越时空感知它的存在。</li>
                    <li><a href="https://movie.douban.com/subject/34971728/
">举起手来</a></li>
<li><a href="https://movie.douban.com/subject/35503073/
">星际穿越</a></li>
<li><a href="https://movie.douban.com/subject/35742980/
">钢铁侠</a></li>
<li><a href="https://movie.douban.com/subject/35914398/
">哥斯拉</a></li>
<li><a href="https://movie.douban.com/subject/36467351/
">环太平洋</a></li>
<li><a href="https://movie.douban.com/subject/35490167/
">破墓</a></li>
<li><a href="https://movie.douban.com/subject/35410336/
">噬血芭蕾</a></li>
<li><a href="https://movie.douban.com/subject/35611467/
">天气之子</a></li>
<li><a href="https://movie.douban.com/subject/30359440/
">霸王别姬</a></li>
<li><a href="https://movie.douban.com/subject/35750081/
">美国内战</a></li>
				</ul>
</body>
</html>