<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欧美电影</title>
    <style>
        #login{
            display:inline-block;
            float:right;
            margin-right:50px;
        }
        </style>
</head>
<body>
<p1 style="font-size: 24px;margin-left:100px">欧美电影</p1>
                  <div id="login" style="font-size: 24px"><a href="/">回到主页</a></div>                                      
				<ul style="font-size:16px;margin-left:125px;margin-top:55px;">
{% for movie in Americamovies %}
                        <li><a href="{{ movie.href }}">{{ movie.name }}</a><br>
                            演员：{{ movie.actor }}<br>
                        <img src="{{ movie.img }}" width="100" height="150">
                    {% endfor %}
				</ul>
</body>
</html>