<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>电影网站</title>
		<style>
			#head{
				height:35px;
				background-color:black ;
                letter-spacing: 5px;
			}
			#menus{
				display:inline-block;
				width:500px;
				height:600px;
				margin-left:50px;
			}
			#content{
				display:inline-block;
                        width:800px;
				float:right;
				
			}
            #login{
                display:inline-block;
                float:right;
                margin-right:50px;
            }
			
		</style>
	</head>
	<body>
			<div id='head'>
				<span style="font-size:24px;margin-left:300px;">
                    <a href="">首页</a>
                    <a href="china_movies">国内电影</a>
                    <a href="japan_movies">日韩电影</a>
                    <a href="America_movies">欧美电影</a>
                </span>
			</div>
            <div id="login" style="font-size: 24px"><a href="admin/">登陆</a></div>
			<div id='menus'>
                <p style="font-size: 22px;margin-left:100px;margin-top:48px">最新电影:</p>
				<ul style="font-size:16px;margin-left:125px;margin-top:55px;">
                    {% for movie in newmovies %}
                        <li><a href="{{ movie.href }}">{{ movie.name }}</a></li>
                    {% endfor %}
                        </ul>
			</div>
			<div id='content'>
				<p style='font-size:20px;margin-left:0px;margin-top:55px;'>
                    <p style="font-size: 22px;margin-left:0px;margin-top:48px">推荐电影:</p>
				<ul style="font-size:16px;margin-left:0px;margin-top:55px;">
                    {% for movie in recommendmovies %}
                        <li><a href="{{ movie.href }}">{{ movie.name }}</a><br>
                        上映日期：{{ movie.time }}<br>
                        导演：{{ movie.director }}<br>
                        简介：{{ movie.introduction }}<br>
                        </li>
                    {% endfor %}
                        </ul>
			</div>
	</body>
</html>
